@import '../../a-body/resume-body/resume-body.scss';

@mixin main-contact {
  //--|🠋 Desktop (Landscape) 🠋|--//
  @media screen and (orientation: landscape) {
    //--|🠉 aside[id*='contact'] 🠉|--//
    border: 4px dashed $orange-neon;
    background: rgba($orange-dark, 0.25);
  }

  //--|🠋 Mobile (Portrait) 🠋|--//
  @media screen and (orientation: portrait) {
  }
}

//--|🠋 03. Contact <main> 🠋|--//
main[id*='resume'] {
  section[id*='main'] {
    div[class*='margin'] {
      aside[id*='contact'] {
        @include main-contact;
        border: 4px dashed $blue-neon;
        background: rgba($blue-dark, 0.25);
      }
    }
  }
}
