@import '../Main.scss';
@import './MainHome.scss';
@import './MainSkills.scss';
@import './MainContact.scss';

main[id*='resume'] {
  section[id*='main'] {
    display: grid;
    grid-template: 1fr / 1fr; //~~|🠊 rows / columns 🠈|~~//
    div[class*='margin'] {
      width: 100%;
      display: inherit;
      position: relative;
      grid-template: 1fr / 1fr; //~~|🠊 rows / columns 🠈|~~//
      grid-area: 1 / 1 / 2 / 2; //~~|🠊 row-start / col-start / row-end / col-end 🠈|~~//
      .expanded {
        z-index: 1;
        clip-path: inset(0 0 0 0); //~~|🠊 top / right / bottom / left 🠈|~~//
      }
      .collapsed {
        z-index: 0;
      }
    }
  }
}
