#index-main section {
  @media only screen and (height: 768px) {
    height: 768px;
  }
  @media only screen and (height: 1366px) {
    height: 1366px;
  }
  @media only screen and (height: 1000px) {
    height: 1000px;
  }
  @media only screen and (height: 750px) {
    height: 750px;
  }
}
