@import '../../backup-colors.scss';
@import '../../../pages/select-colors.scss';

a[class*='icon'] {
  display: flex;
  cursor: default;
  background: none;
  align-items: center;
  justify-content: center;
  img {
    height: 75%;
    cursor: pointer;
    filter: drop-shadow(0 0 4px rgba(black, 0.25));
  }
  &:hover {
    //~~|🠊 transition: opacity 0.25s ease-in-out; 🠈|~~//
    img {
      filter: drop-shadow(0 0 4px rgba(white, 0.25));
    }
  }
  //~~|🠊 border: 4px dashed $red-neon; 🠈|~~//
  //~~|🠊 background: rgba($red-dark, 0.25); 🠈|~~//
}
