//--|🠋| Color Scheme (Default) |🠋|--//
$green-neon: #00ff00; //--🠊 rgba(0, 255, 0, 1) 🠈--//
$green-dark: #274e13; //--🠊 rgba(39, 78, 19, 1) 🠈--//
$green-light: #b6d7a8; //--🠊 rgba(182, 215, 168, 1) 🠈--//

$pink-neon: #ff00ff; //--🠊 rgba(255, 0, 255, 1) 🠈--//
$pink-dark: #4c1130; //--🠊 rgba(76, 17, 48, 1) 🠈--//
$pink-light: #d5a6bd; //--🠊 rgba(213, 166, 189, 1) 🠈--//

$yellow-neon: #ffff00; //--🠊 rgba(255, 255, 0, 1) 🠈--//
$yellow-dark: #7f6000; //--🠊 rgba(127, 96, 0, 1) 🠈--//
$yellow-light: #ffe599; //--🠊 rgba(255, 229, 153, 1) 🠈--//

$orange-neon: #ff9900; //--🠊 rgba(255, 153, 0, 1) 🠈--//
$orange-dark: #783f04; //--🠊 rgba(120, 63, 4, 1) 🠈--//
$orange-light: #f9cb9c; //--🠊 rgba(249, 203, 156, 1) 🠈--//

$blue-neon: #3c90ff; //--🠊 rgba(0, 0, 255, 1) 🠈--//
$blue-dark: #073763; //--🠊 rgba(127, 17, 224, 1) 🠈--//
$blue-light: #9fc5e8; //--🠊 rgba(159, 197, 232, 1) 🠈--//

$purple-neon: #9900ff; //--🠊 rgba(153, 0, 255, 1) 🠈--//
$purple-dark: #20124d; //--🠊 rgba(32, 18, 77, 1) 🠈--//
$purple-light: #b4a7d6; //--🠊 rgba(180, 167, 214, 1) 🠈--//

$red-neon: #ff0000; //--🠊 rgba(255, 0, 0, 1) 🠈--//
$red-dark: #660000; //--🠊 rgba(102, 0, 0, 1) 🠈--//
$red-light: #ea9999; //--🠊 rgba(234, 153, 153, 1) 🠈--//

$brown-neon: #a97142; //--🠊 rgba(169, 113, 66, 1) 🠈--//
$brown-dark: #4f341d; //--🠊 rgba(79, 52, 29, 1) 🠈--//
$brown-light: #ffd3af; //--🠊 rgba(255, 211, 175, 1) 🠈--//

$grey-neon: #bec2cb; //--🠊 rgba(190, 194, 203, 1) 🠈--//
$grey-dark: #434343; //--🠊 rgba(67, 67, 67, 1) 🠈--//
$grey-light: #efefef; //--🠊 rgba(239, 239, 239, 1) 🠈--//

$turquoise-neon: #00ffff; //--🠊 rgba(0, 255, 255, 1) 🠈--//
$turquoise-dark: #0c343d; //--🠊 rgba(12, 52, 61, 1) 🠈--//
$turquoise-light: #a2c4c9; //--🠊 rgba(162, 196, 201, 1) 🠈--//

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Quicksand', sans-serif;
  line-height: 1.5;

  color: #ebe7ef;
  background: radial-gradient(#280a48, #20043d);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  min-height: 80rem;
}

header {
  text-align: center;
  margin: 3rem 0;
}

header img {
  height: 5rem;
  width: 10rem;
  object-fit: cover;
}

header h1 {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 5rem;
  background: linear-gradient(40deg, #ea00ff, #ea00ff, #03d5ff, #03d5ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.5));
}

header p {
  margin: 0;
  font-size: 1.25rem;
  color: #8964b0;
  font-family: 'Roboto Condensed', sans-serif;
}

main {
  width: 90%;
  max-width: 50rem;
  margin: auto;
}

#core-concepts {
  padding: 2rem;
  border-radius: 6px;
  background-color: #140524;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

main h3 {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0 0 1.5rem 0;
  color: #a18aba;
}

#core-concepts ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

#core-concepts li {
  width: 10rem;
  text-align: center;
}

#core-concepts li img {
  height: 4rem;
  width: 6rem;
  object-fit: cover;
}

#core-concepts li h3 {
  margin: 0.5rem 0;
}

#core-concepts li p {
  font-size: 0.9rem;
}

#examples {
  margin: 3rem auto;
}

#examples h2 {
  text-align: left;
}

#examples menu {
  margin: 1rem 0;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  list-style: none;
}

#examples menu button {
  border: none;
  font-size: 1rem;
  cursor: pointer;
  color: #a18aba;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
  font-family: 'Roboto Condensed', sans-serif;
}

#examples menu button:hover {
  color: #ebe7ef;
  background-color: #1b082f;
}

#examples menu button.active {
  color: #ebe7ef;
  background-color: #7925d3;
}

#tab-content {
  padding: 1rem;
  border-radius: 6px;
  background-color: #2f1d43;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

#tab-content h3 {
  margin: 0;
}

#tab-content code {
  font-size: 1rem;
}
