@import '../../backup-colors.scss';
@import '../../../pages/select-colors.scss';

button[class*='glow'] {
  cursor: default;
  background: none;
  position: relative;
  overflow: hidden; // Ensure no overflow from child elements

  h6 {
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin: 0.5rem 1rem;
    color: $primary-light;
    transition: color 0.25s ease-in-out;
    filter: drop-shadow(0 0 4px rgba(black, 0.25));

    &:hover {
      color: white;
      filter: drop-shadow(0 0 4px rgba($primary-light, 0.25));
    }
  }

  div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba($primary-medium, 1);

    &::before {
      content: '';
      position: absolute;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      background: radial-gradient(white, transparent, transparent);
      top: var(--y);
      left: var(--x);
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity 0.5s, top 0s, left 0s;
    }

    &:hover::before {
      opacity: 1;
    }

    &::after {
      content: '';
      position: absolute;
      inset: 2px;
      background: rgba(black, 0.75);
    }
  }

  &:hover div::before {
    opacity: 1;
  }
}

button[class*='glow'] {
  //~~|🠊 border: 4px dashed $red-neon; 🠈|~~//
  //~~|🠊 background: rgba($red-dark, 0.25); 🠈|~~//
  /*
  h6 {
    overflow: hidden;
    position: relative;
    background: rgba($primary-medium, 1);
    &::before {
      opacity: 0;
      content: '';
      width: 6rem;
      height: 6rem;
      top: var(--y);
      left: var(--x);
      border-radius: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      transition: 0.5s, top 0s, left 0s;
      background: radial-gradient(white, transparent, transparent);
    }

    &:hover::before {
      opacity: 1;
      background: rgba($primary-medium, 1);
    }
    &::after {
      inset: 2px;
      content: '';
      position: absolute;
      background: rgba(black, 0.75);
    }
  }
  */
}
