//--|🠋| Index Page |🠋|--//
@import '../index/data/default-data/default-data.scss';

* {
  margin: 0;
  padding: 0;

  border: none;
  outline: none;
  // overflow: visible;
  box-sizing: border-box;
  font-family: 'Rubik', Helvetica;
}
