@import '../../b-overlay/resume-overlay/resume-overlay.scss';
@import '../../c-header/resume-header/resume-header.scss';
@import '../../d-footer/resume-footer/resume-footer.scss';
@import '../../e-leftbar/resume-leftbar/resume-leftbar.scss';
@import '../../f-rightbar/resume-rightbar/resume-rightbar.scss';
@import '../../g-main/resume-main/resume-main.scss';

@import '../Data.scss';
section[id*='overlay'] {
  z-index: 5;
}
header[id*='header'] {
  z-index: 4;
}
footer[id*='footer'] {
  z-index: 3;
}
aside[id*='leftbar'] {
  z-index: 2;
}
aside[id*='rightbar'] {
  z-index: 1;
}
main[id*='main'] {
  z-index: 0;
}
